@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

:root {
  --primary-color: #047aed;
  --secondary-color: #1c3fa8;
  --dark-color: #002240;
  --light-color: #f4f4f4;
  --success-color: #5cb85c;
  --error-color: #d9534f;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  width: 100%;
}

p {
  margin: 10px 0;
}
/* Navbar */

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

.navbar {
  background-color: var(--primary-color);
  color: white;
  height: 70px;
  /* overflow:hidden; */
}

.navbar .flex {
  justify-content: space-between;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: white;
  margin: 0px 5px;
  padding: 10px;
}

.navbar a:hover {
  border-bottom: 2px white solid;
}

/* Showcase */

.showcase {
  height: 400px;
  background-color: var(--primary-color);
  color: white;
  position: relative;
}

.showcase h1 {
  font-size: 40px;
}

.showcase p {
  margin: 20px 0;
}

.showcase .grid {
  grid-template-columns: 55% 45%;
  gap: 30px;
  overflow: visible;
}

.showcase-form {
  position: relative;
  top: 60px;
  height: 350px;
  width: 400px;
  z-index: 100;
  justify-self: flex-end;
}

.showcase-form .form-control {
  margin: 30px 0px;
}

.showcase-form input[type="text"],
.showcase-form input[type="email"] {
  border: 0;
  border-bottom: 1px solid #b4becb;
  width: 100%;
  padding: 3px;
  font-size: 1rem;
}

.showcase-form input:focus {
  outline: none;
}

.showcase::after {
  content: "";
  position: absolute;
  height: 100px;
  bottom: -70px;
  right: 0;
  left: 0;
  background: white;
  transform: skewY(-3deg);
  -webkit-transform: skewY(-3deg);
  -moz-transform: skewY(-3deg);
  -ms-transform: skewY(-3deg);
}

/* Stats */

.stats {
  padding-top: 100px;
}

.stats-heading {
  max-width: 500px;
  margin: auto;
}

.stats .grid h3 {
  font-size: 35px;
}

.stats .grid p {
  font-size: 20px;
  font-weight: bold;
}

/* Cli */
.cli .grid {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.cli .grid > *:first-child {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

/* Cloud */
.cloud .grid {
  grid-template-columns: 4fr 3fr;
}

.cloud img {
  max-height: 200px;
  width: auto;
  height: auto;
  justify-self: end;
  padding: 0 40px;
}

/* Languages */
.languages .flex {
  flex-wrap: wrap;
}

.languages img {
  max-height: 80px;
  display: block;
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.languages .card {
  margin: 18px 10px 40px;
  transition: transform 0.2s ease-in;
}

.languages .card h4 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
}

.languages .card:hover {
  transform: translateY(-15px);
}

/* Features */
.features-head img {
  width: 200px;
  justify-self: flex-end;
}

.features-sub-head img {
  width: 300px;
  justify-self: flex-end;
}

.features-main .card > i {
  margin-right: 20px;
}

.features-main .grid {
  padding: 30px;
}

.features-main .grid > *:first-child {
  grid-column: 1 / span 3;
}

.features-main .grid > *:nth-child(2) {
  grid-column: 1 / span 2;
}

/* pricing */
.pricing {
  position: relative;
  width: 100%;
}

.pricing::before {
  content: "";
  background: var(--primary-color);
  height: 450px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -100;
}

.pricing .contianer {
  margin: 0 auto;
  padding: 50px 0 0;
  max-width: 960px;
  width: 100%;
}

.panel {
  background-color: #fff;
  border-radius: 10px;
  padding: 15px 25px;
  position: relative;
  width: 100%;
  z-index: 10;
}

.pricing-table {
  box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.08),
    0px 20px 31px 3px rgba(0, 0, 0, 0.09), 0px 8px 20px 7px rgba(0, 0, 0, 0.02);
  display: flex;
  flex-direction: row;
  text-align: center;
  margin: 100px 0;
}

.pricing-plan {
  border-bottom: none;
  border-right: 1px solid #e1f1ff;
  flex-basis: 100%;
  padding: 25px 50px;
}

.pricing-plan:last-child {
  border-right: none;
}

.pricing-img {
  margin-bottom: 25px;
  max-width: 100%;
}

.pricing-header {
  color: #888;
  font-weight: 600;
  letter-spacing: 1px;
}

.pricing-features {
  color: var(--secondary-color);
  font-weight: 600;
  letter-spacing: 1px;
  margin: 50px 0 25px;
}

.pricing-features-item {
  border-top: 1px solid #e1f1ff;
  font-size: 12px;
  line-height: 1.5;
  padding: 15px 0;
}

.pricing-features-item:last-child {
  border-bottom: 1px solid #e1f1ff;
}

.pricing-price {
  color: var(--secondary-color);
  display: block;
  font-size: 32px;
  font-weight: 700;
}

.pricing-button {
  border: 1px solid #9dd1ff;
  border-radius: 10px;
  color: #348efe;
  display: inline-block;
  margin: 25px 0;
  padding: 15px 35px;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}

.pricing-button:hover,
.pricing-button:focus {
  background-color: #e1f1ff;
}

.pricing-button.is-featured {
  background-color: var(--primary-color);
  color: #fff;
}

.pricing-button.is-featured:hover,
.pricing-button.is-featured:active {
  background-color: #269aff;
}

/* About */
.about-header h2 {
  margin: 0;
  padding: 50px 0px;
}
.about-body {
  padding: 50px 50px;
  font-weight: normal;
  height: 100%;
}
.about-body h1 {
  font-weight: bold;
}

.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

/* footer */
.footer .social a {
  margin: 0 10px;
}

/* Tablets */
@media (max-width: 768px) {
  .navbar {
    height: 110px;
  }
  .navbar .flex {
    flex-direction: column;
  }
  .navbar ul {
    display: flex;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.1);
  }

  .showcase {
    height: auto;
  }

  .showcase-text {
    text-align: center;
    margin-top: 40px;
  }

  .showcase-form {
    justify-self: center;
    margin: auto;
  }

  .grid,
  .showcase .grid,
  .stats .grid,
  .cli .grid,
  .cloud .grid,
  .features-main .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .features-head,
  .features-sub-head {
    text-align: center;
  }

  .cloud img,
  .features-head img,
  .features-sub-head img {
    justify-self: center;
  }

  .features-main .grid > *:first-child,
  .features-main .grid > *:nth-child(2) {
    grid-column: 1;
  }

  .cli .grid {
    text-align: center;
  }

  .cli .grid > *:first-child {
    grid-column: 1;
    grid-row: 1;
  }

  .pricing-table {
    margin: 30px 0;
    flex-direction: column;
  }

  .pricing-plan {
    border-bottom: 1px solid var(--primary-color);
    border-right: none;
    padding: 25px;
  }

  .pricing-plan:last-child {
    border-bottom: none;
  }

  .pricing-img {
    margin-bottom: 0;
    max-height: 250px;
    width: auto;
  }
}

/* Mobile */
@media (max-width: 500px) {
}
